{
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "import/no-named-as-default": 1,
    "import/no-named-as-default-member": 1,
    "no-underscore-dangle": [2, { "allow": ["_id"] }],
  },
  "globals": {
    "fetch": true,
  }
}
